/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-nov-2016, 16:52:58
    Author     : YI
*/

nav #puja
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 420px;
    height: 20px;
    padding: 10px;
    margin: 0 10px 0 10px;
    overflow: hidden;
}